/*
    Palette:
        #3FEEE6
        #FC4445
        #55BCC9
        #97CAEF
        #CAFAFE
*/

body {
    display: grid;
    grid-template-columns: 6% 88% 6%;
    grid-template-rows: 15% 70% 15%;
    grid-template-areas:
        "banner banner banner"
        ". main ."
        "footer footer footer";
    background: #CAFAFE;
    height: 80rem;
    font-family: 'Gayathri', sans-serif;
}

#banner {
    grid-area: banner;
    display: flex;
    justify-content: center;
    background: #3FEEE6;
}

#main {
    grid-area: main;
    display: flex;
    background: #FC4445;
}

#footer {
    grid-area: footer;
    display: flex;
    background: #55BCC9;
}